<h1>Result</h1>

<p> your attempt is <em><%= params[:word]%></em> and the proposal were <%= params[:array]%></p>

<p><%= @message %> your score is  <strong><%= @score %></strong></p>


<%= link_to "Try again", new_path %>